<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982757116905-4fdpu4tr0npjiau80qupvpit66mth031.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982757116905-4fdpu4tr0npjiau80qupvpit66mth031</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>982757116905-a86et56cfm378hq4lus51qeg7e5l96qi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBhVJRNOExN4JJHgDCwxHf_6BTp4iqU2S4</string>
	<key>GCM_SENDER_ID</key>
	<string>982757116905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.kicksciti</string>
	<key>PROJECT_ID</key>
	<string>kicks-citi</string>
	<key>STORAGE_BUCKET</key>
	<string>kicks-citi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982757116905:ios:7483f359fa6d7357241978</string>
	<key>DATABASE_URL</key>
	<string>https://kicks-citi-default-rtdb.firebaseio.com</string>
</dict>
</plist>